# Secrets et configs sensibles
k8s/secrets.yaml
k8s/configmap.yaml
.env
*.env
kubeconfig
kubeconfig.yaml
k3s.yaml

# Fichiers temporaires
*.tmp
*.bak
*.swp
.DS_Store

# Helm — charts téléchargés
helm/*/charts/
helm/*/Chart.lock

