# secrets.yaml.example
# Copier ce fichier en secrets.yaml et remplir les valeurs
# NE JAMAIS commiter secrets.yaml dans Git
apiVersion: v1
kind: Secret
metadata:
  name: retail-secrets
  namespace: retail-app
type: Opaque
stringData:
  MYSQL_ROOT_PASSWORD: "CHANGE_ME_strong_password"
  SPRING_DATASOURCE_PASSWORD: "CHANGE_ME_same_as_above"
  JWT_SECRET: "CHANGE_ME_min_32_chars_random_string"
